<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yemreak.imguralfred</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>3970597D-442B-4874-9B5D-53D4D0FE71D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63E5B617-207A-4CF0-BEA4-B49D489227B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yunus Emre Ak</string>
	<key>description</key>
	<string>Post to imgur and capture image link to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ImgurAlfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>img</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 main.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Post to imgur and capture image link to clipboard</string>
				<key>title</key>
				<string>Upload image to imgur</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3970597D-442B-4874-9B5D-53D4D0FE71D2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>63E5B617-207A-4CF0-BEA4-B49D489227B5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Imgur Alfred

Post to imgur and capture image link to clipboard

&gt; 🎓 Alfred workflow version of [images-upload-cli](https://github.com/DeadNews/images-upload-cli)

![example](https://i.imgur.com/2cEqQUF.png)

## 🎗️ Support

- The code also supports more image websites
- If someone need them, can replace `imgur` to any other values in `main.py`
- Supported websites: catbox, fastpic, filecoffee, freeimage, geekpic, gyazo, imageban, imgbb, imgchest, imgur, pictshare, pixeldrain, pixhost, ptpimg, screenshotting, smms, sxcu, telegraph, up2sha, uplio, uploadcare

## 🪪 License

```
Copyright 2022 Yunus Emre Ak ~ YEmreAk.com

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
```</string>
	<key>uidata</key>
	<dict>
		<key>3970597D-442B-4874-9B5D-53D4D0FE71D2</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>63E5B617-207A-4CF0-BEA4-B49D489227B5</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://yemreak.com</string>
</dict>
</plist>
